*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.png");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    font-size: 15px;
}

@media (min-width: 400px){
body {
  font-size: 16px;
}
}
  
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  top: 8%;
  position: absolute;
  left: 10px;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu {
     background-color: white;
     position:fixed;
     width: 100vw;
     top: 0;
  }
  
   
a {
    color:teal; 
    text-decoration:none;
  }
  
  
a:hover { 
    text-decoration:underline;
  }
  
.menu ul{
    display:flex;
    justify-content: space-around; 
    background-image: url("../img/branco.jpg");
  }
  
  
.menu li {
      list-style:none;
}
  

.site-tittle {
  color: whitesmoke;
  text-align:center; 
}
  

.site-subtittle{
   font-style:italic;
   color: whitesmoke;
   text-align:center;
}


.apresentacao {
  position:absolute;
  left:10px;
  top: 15%;
  color: whitesmoke;
}
  