body {
    background-color: brown;
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh 
  }
  
.menu {
     background-color: white;
  }
  
   
a {
    color: teal; 
    text-decoration:none;
  }
  
  
a:hover { 
    text-decoration:underline;
  }
  
.menu ul{
    display:flex;
    justify-content: space-between;
    justify-content: space-around; 
  }
  
  
.menu li {
      list-style:none;
  }
  
.site-subtittle,  
.site-titlle{
    text-alight:center; 
    color:whitesmoke;
}
  
.site-subtittle{
   font-style:italic;
}
  
  