*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.png");
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 15px;
}

@media (min-width: 400px){
body {
  font-size: 16px;
}
}
  
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  top: 8%;
  position: absolute;
  left: 10px;
}

.projetos h2 {
 color: whitesmoke;
}

.projetos {
  padding: 1em;
  margin-bottom: 1.5em;
  font-size: 1em;
  top: 38%;
  position:absolute;
  left:0px
}

.projetos .grid {
  display: grid;
  gap: 1em;
}

.projetos figure {
  text-align: center;
  color: whitesmoke;
}

.img-projetos {
  width: 170px;
  height: 120px;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.menu {
     background-color: white;
     position:fixed;
     width: 100vw;
     top: 0;
  }
  
   
a {
    color:teal; 
    text-decoration:none;
  }
  
  
a:hover { 
    text-decoration:underline;
  }
  
.menu ul{
    display:flex;
    justify-content: space-around; 
    background-color: #b8bbc0;
  }
  
  
.menu li {
      list-style:none;
}
  

.site-tittle {
  font-family: 'Kalam', cursive;
  color: whitesmoke;
  text-align:center; 
}
  

.site-subtittle{
   font-style:italic;
   color: whitesmoke;
   text-align:center;
}


.apresentacao {
  font-family: 'Neucha', cursive;
  position:absolute;
  left:10px;
  top: 15%;
  color: whitesmoke;
}
  